apiVersion: v1
kind: Secret
metadata:
  name: {{ include "yatai-deployment.envname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "yatai-deployment.labels" . | nindent 4 }}
type: Opaque
stringData:
  YATAI_SYSTEM_NAMESPACE: {{ .Values.yataiSystem.namespace }}
  YATAI_API_TOKEN: {{ include "yatai-deployment.yataiApiToken" . | quote }}

  INTERNAL_IMAGES_METRICS_TRANSFORMER: {{ .Values.internalImages.metricsTransformer | quote }}
  INTERNAL_IMAGES_DEBUGGER: {{ .Values.internalImages.debugger | quote }}

  {{- if .Values.disableAutomateBentoImageBuilder }}
  DISABLE_AUTOMATE_BENTO_IMAGE_BUILDER: "true"
  {{- end }}
